# vue application
blvueapplication/logs
blvueapplication/*.log
blvueapplication/npm-debug.log*
blvueapplication/yarn-debug.log*
blvueapplication/yarn-error.log*
blvueapplication/pnpm-debug.log*
blvueapplication/lerna-debug.log*

blvueapplication/.DS_Store
blvueapplication/dist
blvueapplication/dist-ssr
blvueapplication/coverage
blvueapplication/*.local

blvueapplication/cypress/videos/
blvueapplication/cypress/screenshots/

# node modules
**/node_modules
# compiled files
core/**/lib
api-managers/lib
bl-ui-core/lib

# sample for test 
sample/dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
