# Logs
BLVueApplication/logs
BLVueApplication/*.log
BLVueApplication/npm-debug.log*
BLVueApplication/yarn-debug.log*
BLVueApplication/yarn-error.log*
BLVueApplication/pnpm-debug.log*
BLVueApplication/lerna-debug.log*

BLVueApplication/node_modules
BLVueApplication/.DS_Store
BLVueApplication/dist
BLVueApplication/dist-ssr
BLVueApplication/coverage
BLVueApplication/*.local

BLVueApplication/cypress/videos/
BLVueApplication/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
